.header {
  background: var(--color-bg-white);
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text);

  &__topbar {
    background: var(--color-primary);
    color: var(--color-bg-white);
    font-size: 13px;
    padding: 4px 20px;
    text-align: center;
  }

  &__middlebar {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px;
    border-color: var(--color-border);
  }

  &__bottombar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;

    .header__logo {
      font-size: 24px;
      font-weight: bold;
      color: var(--color-primary);
    }

    .header__search input {
      padding: 8px 12px;
      border-radius: 4px;
      width: 300px;
    }

    .header__actions {
      display: flex;
      gap: 16px;
      font-size: 14px;
      justify-content: center;

      &__item {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--color-text);

        svg {
          color: var(--color-text-muted);
        }
      }
    }
  }

  &__nav {
    ul {
      display: flex;
      gap: 24px;
      padding: 10px 20px;
      font-size: 14px;
      justify-content: center;
      position: relative;

      li {
        &.highlight a {
          color: var(--color-primary);
          font-weight: bold;
        }

        a {
          text-decoration: none;
          color: var(--color-text);
        }

        /* Mega menu */
        .mega-menu {
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 100%;
          background: white;
          border: 1px solid var(--color-border);
          padding: 20px;
          display: flex;
          z-index: 100;

          &__content {
            display: flex;
            width: 100%;
            gap: 40px;
          }

          &__categories,
          &__brands {
            max-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-list {
              display: flex;
              flex-direction: column;
              gap: 8px 16px; // khoảng cách giữa các item
              list-style: none;
              padding: 0;
              flex-wrap: wrap;
              height: 80%;
              align-items: flex-start;
              justify-content: flex-start;

              li {
                white-space: nowrap;
                cursor: pointer;
                
                &:hover {
                  color: var(--color-primary);
                }
              }
            }
          }

          &__images {
            display: flex;
            gap: 16px;
          }

          &__title {
            font-weight: bold;
            margin-bottom: 1rem;
            color: var(--color-text);
          }

          &__view-all {
            color: var(--color-text-muted);
            text-decoration: none;
            &:hover {
              color: var(--color-primary);
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: -5%;
            height: 40px;
            width: 100%;
            background: transparent;
          }
        }
      }
    }
  }
}
